*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  padding: 20px;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 4px;
}
nav a{
  text-decoration: none;
  padding: 10px;
  color: rgba(0,0,0,0.8);
}

nav a:hover{
  color: black;
}